.full-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.go-purchase-btn {
  padding: 12px 25px;
  background: #007bff;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.cart-container {
  width: 90%;
  margin: 40px auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.empty {
  text-align: center;
  color: gray;
}

.cart-list {
  list-style: none;
  padding: 0;
}

.cart-item {
  display: flex;
  gap: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  border-radius: 10px;
  background: white;
}

.cart-img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  background: #f8f8f8;
  padding: 10px;
  border-radius: 10px;
}

.cart-info h3 {
  font-size: 18px;
  margin: 0;
}

.qty-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 8px 0;
}

.qty-box button {
  padding: 4px 10px;
  font-size: 16px;
  cursor: pointer;
}

.remove {
  background: red;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.total-box {
  text-align: right;
  padding: 15px;
  font-size: 22px;
  font-weight: bold;
}

.checkout {
  background-color: #ff7d1a;   
  color: white;
  padding: 12px 56px;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
  box-shadow: 0 4px 10px rgba(255, 125, 26, 0.3);
}

.checkout:hover {
  background-color: #ff8f3d;
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(255, 125, 26, 0.4);
}

.checkout:active {
  transform: scale(0.97);
  background-color: #e67215;
}
